.mortgageCalculator {
    padding: var(--spacing-500);
    flex-shrink: 0;
    width: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-100);
    margin-bottom: clamp(var(--spacing-300), 8.7328px + 4.0712vw, var(--spacing-500));
}

.title {
    font-size: var(--fs-24px);
    line-height: var(--lh-small);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    margin-bottom: clamp(var(--spacing-300), 8.7328px + 4.0712vw, var(--spacing-500));
}

.fieldGroup {
    display: flex;
    gap: var(--spacing-300);
}

