.mortgage-calculator {
    /* ширина - временно, пока не сделаю обертку для двух колонок */
    width: 504px;
    background-color: white;
    padding: var(--spacing-500);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mortgage-calculator__title {
    font-size: var(--fs-250);
    line-height: var(--lh-small);
}

.mortgage-amount {
    display: flex;
    flex-direction: column;
}

.label__text {
    line-height: var(--lh-big);
    color:var(--clr-neutral-700);
    margin-bottom: var(--spacing-150);
}

.input__number {
    border: 1px solid var(--clr-neutral-500);
    border-radius: 4px;
    padding: var(--spacing-150) var(--spacing-200);
}

