.app {
    width: 1008px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--clr-neutral-white);
    border-radius: var(--spacing-300);
    overflow: hidden;
}
